.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}

.box-img img{
    max-width: 100%;
    width: 30px;
    padding-bottom: 0;
}

.box-info{

    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 0.5rem;

}

.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 0.5rem;

}

.box h2{
    font-size: 1.3rem;
    color: var(--bg-color);
    padding-bottom: 10px;
}

.box p{
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}